$background-grey: #f0f0f0;
$button-grey: #5e5e5e;
$background-purple :#FF00FF;
$background-indigo:indigo;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
  line-height: 1.3rem;
  background-color: $background-grey;
}

button {
  height: 2.5rem;
  border: none;
  font-size: 1.3rem;
  border-bottom: 4px solid #ccc;
  margin-left: .5rem;
  cursor: pointer;
  color: $button-grey;
}

.container {
  font-size: 1rem;
  background-color: $background-purple;
  margin-top: 1em;
  

}

.is-completed {
  text-decoration: line-through;
  color: $button-grey;
}

.tdl-input {
  padding: .5rem;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.tdl-task {
  padding: .5rem;
}

.root {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width:100%;
  display:flex;
  justify-content: space-around;
  padding:1em;
  font-size:1.2rem;
  background-color: $background-indigo;
}

header a{
  color : darkgrey;
  text-decoration: none;
 
}

header a:hover{
  font-weight: bold;
  color:lightgrey;
  cursor: pointer;
}



footer{
  padding :1em;
}